body {background-color: rgb(253, 251, 251);font-family: 'Courier New', Courier, monospace;}
header{top: 0; background-color: rgb(68, 79, 136);margin-top: 20px;text-align: center;color: rgb(245, 224, 188);height: 50px; text-decoration: underline;}
img{width: 250px;
    height: 250px;
    border: 8px solid blueviolet;position: absolute;border-radius: 50%;right: 400px; margin: 25px}
    ol, ul{display: inline-block;}
    aside{display: inline-block;width: 300px;text-align: right;position: sticky;left: 900px;padding-left: 15px;margin-left: 15px;color: blueviolet;}
    article{margin-bottom: 100px;color: rgb(135, 82, 62);font-size: 1.2em;}
    .button{
        background-color: rgb(44, 98, 125);color: #fff;border-radius: 4px;padding: 15px 30px; text-decoration: none;
      }
      footer{background-color: rgb(43, 47, 94); color: #fff;text-align: center;margin-top: 200px;}